* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    color: antiquewhite;

    --nav-color: rgb(21, 21, 199);
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(21, 21, 199), rgb(0, 110, 255));
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

nav:first-child {
    border-left: !important none;
} 
/* How to get this to override the border declared below */

.set-time {
    background-color: var(--nav-color);
    border-left: 1px solid rgba(255, 255, 255, 0.774);
    border-right: 1px solid rgba(255, 255, 255, 0.774);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#enter-time {
    display: flex;
    height: 100%;
    background: var(--nav-color);
    border-left: 1px solid rgba(255, 255, 255, 0.774);
    border-right: 1px solid rgba(255, 255, 255, 0.774);
    width: auto;
    padding-left: 10px;
}

#enter-time::placeholder {
    color: antiquewhite;
}

#enter-time:hover, .set-time:hover {
    filter: brightness(90%);
}

#countdown {
    font-size: 150px;
}

#return-time {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

